<!-- คือ template นึงที่เราจะใช้ในทุกๆ หน้า -->

<nav class=" shadow navbar navbar-expand-md navbar-light bg-light fixed-top">
  <!-- <nav class="navbar navbar-expand-md navbar-light fixed-top" style='background-color: #ffd666;'> -->
  <!-- <a class="navbar-brand" href="#">Home</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="d-block d-md-none">
          <hr>
        </div>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>

  </div>
</nav>